{% extends "base.html"%}
{% block content %}
{% load thumbnail %}

{% include "view_data_user.html" %}

        <div class="col-md-9">
            {% for post in page %}
                    {% include "post_item.html" with post=post %}
                {% endfor %}
                        </div>
                        <!-- Дата публикации  -->
                        <small class="text-muted">{{post.pub_date}}</small>
                    </div>


            {% if page.has_other_pages%}
            {% include "paginator.html" with items=page paginator=paginator %}
            {% endif %}
            <!-- Здесь постраничная навигация паджинатора -->
</main>
{% endblock %}