{% extends "base.html" %}
<h1>{% block title %} Записи сообщества {{ group }}{% endblock %} | Yatube<h1>


<div class="container">
    <h1>{% block header %}{{ group }}{% endblock %}</h1>
    {% block content %}
        <p>{{ group.description }}</p>
        {% for item in page %}
            <h3>
                Автор: {{ item.author }}, Дата публикации: {{ item.pub_date|date:" d M Y" }}
            </h3>
            <p>{{ item.text|linebreaksbr }}</p>
            {% if not forloop.last %}
                <hr>{% endif %}
        {% endfor %}

        {% if page.has_other_pages%}
            {% include "paginator.html" with items=page paginator=paginator %}
            {% endif %}

        <!-- Содержимое страницы -->
    {% endblock %}
</div>
