{% extends "base.html" %}
<h1>{% block title %} Записи сообщества {{ group }}{% endblock %} | Yatube
    <h1>


        <h1>{% block header %}{{ group }}{% endblock %}</h1>
        {% block content %}
        <div class="card mb-3 mt-1 shadow-sm">
            <strong class="container">
                <p>#{{ group.description }}#</p>
            </strong>

            <div class="container">
                {% for item in page %}
                {% include "post_item.html" with post=item%}
                {% endfor %}

                {% if page.has_other_pages%}
                {% include "paginator.html" with items=page paginator=paginator %}
                {% endif %}

                <!-- Содержимое страницы -->
                {% endblock %}
            </div>
