{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% load thumbnail %}
{% block content %}
<div class="container">
{% if changing_it == "index"%}
    {% include "menu.html" with index=True %}
{% else %}
    {% include "menu.html" with follow=True %}
    {% endif %}

           <h1> {{ description }}</h1>
            <!-- Вывод ленты записей -->
                {% for post in page %}
                  <!-- Вот он, новый include! -->
                    {% include "post_item.html" with post=post %}
                {% endfor %}
    </div>

        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}


{% endblock %}